.main-container {
  background: #ffffff;
  height: auto;
  max-width: 100% !important;
  padding: 0 !important;
  margin: 0;
}

.inner-container {
  background: #e9eff9;
  height: 950px;
  max-width: 100%;
}

.appbar-container {
  padding: 0 200px !important;
}
@media only screen and (min-width: 200px) and (max-width: 950px) {
  .appbar-container {
    padding: 0 30px !important;
  }
}
.appbar {
  background: transparent !important;
  color: #878b97 !important;
  box-shadow: none !important;
}

.appbar-links {
  color: #878b97 !important;
  letter-spacing: 0.3em !important;
  font-size: 10px !important;
  font-weight: 400 !important;
  margin: 0 1px !important;
  background: #fff !important;
  border-radius: 0 !important;
  width: 100px !important;
  height: 70px !important;
}

.appbar-links-style {
  text-decoration: none;
  color: #4b0082;
}
.appbar-links-style:hover {
  color: #7e26bd !important;
}
.appbar-links-style:focus {
  color: #7e26bd !important;
}

.mobile-menu {
  -webkit-flex-grow: 0 !important;
  flex-grow: 0 !important;
}

.logo {
  color: #838383 !important;
  font-family: "Festive", cursive !important;
  font-weight: bolder !important;
  background: #fff;
  padding: 0 10px;
  width: 30px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
@media only screen and (min-width: 200px) and (max-width: 950px) {
  .logo {
    margin: 0 30px !important;
    padding: 0 20px;
  }
}

.appbar-socials {
  display: flex;
  flex-direction: row;
}

.carousel-container {
  padding: 200px 150px 30px 200px !important;
}

@media only screen and (min-width: 200px) and (max-width: 950px) {
  .carousel-container {
    padding: 50px 30px 0 30px !important;
  }
}

.my-intro {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  color: #3e4152;
}

@media only screen and (min-width: 200px) and (max-width: 950px) {
  .my-intro {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.headline {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 200px) and (max-width: 950px) {
  .headline {
    margin-top: 0px;
  }
}

.author {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
}
@media only screen and (min-width: 200px) and (max-width: 950px) {
  .author {
    font-size: 20px;
  }
}

.title {
  color: #3e415291;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
}

.red-underline {
  border-bottom: 4px solid #4b0082;
  width: 60px;
  margin-top: 5px;
}

@media only screen and (min-width: 200px) and (max-width: 950px) {
  .title {
    font-size: 14px;
  }
}

.desc {
  margin-top: 50px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5em;
}

@media only screen and (min-width: 200px) and (max-width: 950px) {
  .desc {
    font-size: 13px;
    margin-bottom: 30px;
  }
}

.hero-button-box {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.hero-button {
  color: #838383 !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  border: 1px solid #838383 !important;
  width: 120px !important;
  font-size: 12px !important;
}

.hero-button:hover {
  color: #4b0082 !important;
  border: 1px solid #4b0082 !important;
}

.hero-button:focus {
  color: #ffffff !important;
  border: 1px solid #4b0082 !important;
  background: #4b0082 !important;
}

.carousel-grid {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 400px !important;
  height: 400px !important;
}

@media only screen and (min-width: 200px) and (max-width: 950px) {
  .carousel-grid {
    /* width: 100px !important; */
  }
}

.carousel-box {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 600px !important;
  height: 550px !important;
}
@media only screen and (min-width: 200px) and (max-width: 950px) {
  .carousel-box {
    width: 100% !important;
    height: 400px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

.carousel-img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: 3px solid #654ea385;
}

@media only screen and (min-width: 200px) and (max-width: 950px) {
  .carousel-img {
    height: 200px;
    width: 200px;
  }
}

.section-two {
  height: auto;
  padding: 100px 100px 50px 150px !important;
}

@media only screen and (min-width: 200px) and (max-width: 950px) {
  .section-two {
    padding: 100px 30px 30px 30px !important;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.about-container {
}

.about-title {
  color: #4b0082;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}
@media only screen and (min-width: 200px) and (max-width: 950px) {
  .about-title {
    text-align: center;
  }
}

.about {
  margin-right: 120px;
  margin-bottom: 30px;
  color: #3e4152;
  letter-spacing: 0.1em;
  font-size: 14px;
}

@media only screen and (min-width: 200px) and (max-width: 950px) {
  .about {
    margin-right: 0;
  }
}

.parallax-container {
  padding: 0 !important;
  margin: 0 !important;
  height: auto;
  min-width: 100% !important;
}

.contact-container {
  height: auto;
  border: 1px solid transparent;
  max-width: 100% !important;

  background: #654ea3;
  background: -webkit-linear-gradient(to left, #eaafc8, #654ea3);
  background: linear-gradient(to left, #eaafc8, #654ea3);
}

@media only screen and (min-width: 200px) and (max-width: 950px) {
  .contact-container {
    padding: 0 !important;
  }
}

.contact-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: transparent;
  background: transparent;
  margin: 50px 0 !important;
  padding: 100px 100px 50px 150px !important;
}

@media only screen and (min-width: 200px) and (max-width: 950px) {
  .contact-box {
    padding: 50px 30px 50px 30px !important;
    width: 100% !important;
  }
}

.contact-item {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin: 10px !important;
  padding: 10px;
  -webkit-flex-basis: 28% !important;
  flex-basis: 28% !important;
  max-width: 28% !important;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255, 0.28);
}

@media only screen and (min-width: 200px) and (max-width: 950px) {
  .contact-item {
    -webkit-flex-basis: 100% !important;
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
}

.contact-links {
  text-decoration: none;
  color: #ffffffb0;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container {
  height: auto;
  margin: 0 !important;
  background: #e9eff9;
  padding: 100px 50px 100px 280px !important;
  min-width: 100% !important;
}

@media only screen and (min-width: 200px) and (max-width: 950px) {
  .footer-container {
    padding: 50px 50px !important;
  }
}

.footer-box {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: flex-start !important;
  position: relative;
}

.footer-title {
  position: absolute;
  top: 0;
  font-size: 23px;
  font-weight: 600;
  color: #7e26bd;
}

@media only screen and (min-width: 200px) and (max-width: 950px) {
  .footer-title {
    position: relative;
  }
}

.footer-links-box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}

@media only screen and (min-width: 200px) and (max-width: 950px) {
  .footer-links-box {
    margin-top: 5px;
  }
}

.footer-link {
  text-decoration: none;
  text-transform: capitalize;
  color: #4c008277;
}

.footer-link:hover {
  text-decoration: none;
  text-transform: capitalize;
  color: #4c0082b6;
}

.footer-link-icon {
  display: flex;
  flex-direction: row;
}
