.parallax-bg {
  height: 500px;
}

.parallax-content {
  font-size: 50px;
  color: #ffffff;
  opacity: 0.7;
  margin-top: 250px;
  text-align: center;
}
@media only screen and (min-width: 200px) and (max-width: 900px) {
  .parallax-content {
    font-size: 25px;
    margin-top: 70px;
  }
}
