.parallax-content {
  font-size: 50px;
  color: #ffffff;
  opacity: 0.7;
  margin-top: 300px;
  text-align: center;
  height: 500px;
}
@media only screen and (min-width: 200px) and (max-width: 950px) {
  .parallax-content {
    font-size: 25px;
    padding-top: 30px;
  }
}
