body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Merriweather", serif;
  /* font-family: "Montserrat Alternates", sans-serif; */
  letter-spacing: 0.1em !important;
  /* font-family: "Nunito", sans-serif; */
  /* font-family: "Festive", cursive; */
  /* font-family: "Fira Sans", sans-serif; */
  /* font-family: "Montserrat Subrayada", sans-serif; */
}
